/*Changes the background color*/

html,
    /*coloring and sizing*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black !important;
    overflow: auto;
    scroll-behavior: smooth;
}
/*The sizing of the orange box made it SUPA BIG*/
.eight-content {
    width: 100%;
    height: 80%;
    margin: auto;
}
/*the background coloring and positioning*/
.eight-content01 {
    width: 100%;
    height: 100%;
    margin: auto;
    background-size: cover;
    background-image: url("https://media.giphy.com/media/MaThe6p8WAKbf9NDDM/giphy.gif");
    position: relative;
    top: 0;
    bottom: 0;
    display: table;
}
/*Keeps the 8 bit brew centered*/
.eight-content01_inner {
    max-width: 450px;
    width: 100%;
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
/*The styling of the text and adding an outer glow*/
.eight-content01_inner h1 {
    font-family: "Press Start 2P";
    color: #b1ef39;
    font-size: 100px;
    text-shadow: 0 0 300px #dfff11;
}
.eight-content01_inner h4 {
    font-family: "Press Start 2P";
    color: #b1ef39;
    font-size: 100px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end);
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/*The contents of the nav bar positioning, keeps the list on the orange background*/
.nav-bar {
    margin-top:10px;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
/*setting better alignments to the nav positioning making it more towards center*/
.nav-container {
    max-width: 1000px;
    margin: auto;
}
/*keeping everything on the right side of the page*/
nav {
    float: right;
}
/*removing the UL style*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*floats nav bar from a row to col style*/
nav ul li {
    float: left;
}
/*coloring and styling of the nav list items*/
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #fff;
    text-decoration: none;
    font-family: "Press Start 2P";
    font-size: 12px;
}
/*END OF NAV STUFFS*/

/*START OF PARAGRAPH AND CARDS CONTENT*/
div{
    font-family: "Press Start 2P";
}
p{
    margin: auto;
    font-family: "Press Start 2P";
    color: #dea1de;
    animation-timing-function: ease-in;
}
.card{
    background-color: cornflowerblue;
}

h2{
    font-family: "Press Start 2P";
    color: rgba(248, 46, 253, 0.73);
}
h3{
    font-family: "Press Start 2P";
    color: rgb(222, 82, 179);
}
#brew-type{
    color: orangered;
    background-color: lightskyblue;
    width: 100%;
    font-family: "Press Start 2P";
    height: 40px;
}
#brew-submit{
    color: orangered;
    background-color: cornflowerblue;
    width: 100%;
    font-family: "Press Start 2P";
    height: 40px;
}
#name-coffee{
    color: orangered;
    background-color: lightskyblue;
    width: 100%;
    font-family: "Press Start 2P";
    height: 40px;
}
div{
    font-family: "Press Start 2P";

}
input{
    color: orangered;
    background-color: lightskyblue;
    width: 100%;
    font-family: "Press Start 2P";
    height: 40px;
}
label{
    color: #dfff11;
}
option{
    color: lightskyblue;
}
#name-coffee2{
    background-color: lightskyblue;
    width: 100%;
    font-family: "Press Start 2P";
    height: 40px;
}
#brew-submit2{
    color: orangered;
    background-color: cornflowerblue;
    width: 100%;
    font-family: "Press Start 2P";
    height: 40px;
}
/*THIS WAS TRYING TO GET THR ROAST OPTIONS DROP DOWN TO MATCH BUT COULDNT GET IT*/
#roast-selection{
    color: orangered;
    background-color: lightskyblue;
    width: 100%;
    font-family: "Press Start 2P";
    height: 40px;
}





/*previously used css from old form*/
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

